body{
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: bold;
}
#heading{
    font-size: 6rem;
    color: #1fb45a;
    -webkit-text-stroke: 2px  black;
    text-align: center;
}
#players{
    display: flex; width: 95vw; position: relative;
    font-size: 2rem;
}
#box{
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0%;
}
#loading{
    width:10%;
}
#cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.btn {

    font-size: 2rem;
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin: 0;
    background-color: rgb(206, 203, 203);
    border-radius: 10px;

}